@*
    
*@
@{
    ViewBag.Title = "Podcast";
}

<div>
    <h2>Interested In My Podcast?</h2>
    <!--Link to podcast website-->
    <p>Look no further, simply click <a href="https://baconsale.com/">here</a>.</p>

</div>
